body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  display: inline;
}

#reviews {
  min-width: 70vw;
  width: 65vw;
  margin-top: 25px;
}

.scorecard {
  margin: 30px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  height: 100px;
  margin-left: 25px;
}

.col-s-2 {
  float: left;
}

.container .user {
  margin: 0px;
}

.bigscorecard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 65vw;
  height: 100px;
}


.subrating {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 30px;
  align-items: center;
}

.ReviewsCount {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.6px;
}

.profilePhoto {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-right: 15px;
}

.username {
  font-weight: 400;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  font-size-adjust: 100%;
  box-sizing: border-box;
}

.reviewDate {
  box-sizing: border-box;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 300;
  font-size-adjust: 100%;
}

.user {
  margin: 15px;
}

.review {
  margin: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(220, 224, 224);
}

.pagination {
  padding-left: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex: wrap;
}

.page-item {
  width: 24px;
  height: 20px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.page-item a {
  text-decoration: none;
  width:auto;
  color: #2cb5b4;
}

.navbar {
  width: 100%;
  display: flex;
}

.row-justify-content-between-summaryText {
  width: 65vw;
  display: flex;
  justify-content: space-between;
}

.container-searchSummary {
  margin: 25px 30px 0px;
  padding-top: 35px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  display: flex;
  justify-content: space-between;
  color: #2cb5b4;
}

.col-s-2-searchResultsSummary {
  margin-left: 15px;
}


.container-searchSummary-2 {
  margin: 25px 30px 0px;
  padding-top: 35px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  display: flex;
  justify-content: space-between;
  color: #2cb5b4;
}

.col-s-2-searchResultsSummary-2 {
  margin-left: 15px;
}


.row-justify-content-between-summaryText-3 {
  width: 65vw;
  display: flex;
  justify-content: space-between;
}

.container-searchSummary-3 {
  margin: 25px 30px 0px;
  padding-top: 35px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  display: flex;
  justify-content: space-between;
  color: #2cb5b4;
}

.col-s-2-searchResultsSummary-3 {
  margin-left: 15px;
}

.row-justify-content-between-summaryText-2 {
  width: 65vw;
  display: flex;
  justify-content: space-between;
}

.container-searchSummary-2 {
  width: 65vw;
  margin-left: 25px;
  margin-top: 25px;
  padding-top: 35px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  display: flex;
  justify-content: space-between;
  color: #2cb5b4;
}

.col-s-2-searchResultsSummary-2 {
  margin-left: 15px;
}

.row-justify-content-between-summaryText-3 {
  width: 65vw;
  display: flex;
  justify-content: space-between;
}


.col-s-2-searchResultsSummary-3 {
  margin-left: 15px;
}

.params {
  color: black;
  font-weight: bold;
}

.col-s-2 {
  align-self: flex-start;
}

.backToReviews {
  display: flex;
  /* align-self: flex-start; */
  width: 300px;
}

.backToReviews:hover {
  text-decoration: underline;
}

.header-toplevel {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.staticReviewDiv {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.searchingInput {
  width: 200px;
  margin-left: 200px;
}

.searchReviews {
  display: flex;
  justify-content: center;
}

#ReviewCount {
  font-size: 28px;
  font-weight: 700;
}

.text {
  margin-top: 20px;
}